*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav_menu1{
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    background-color: beige;
    border: 2px solid black;
}
h1{
    font-size: 50px;
    align-items: center;
    color: palevioletred;
}
.menu_iteam1 ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap:80px
}
.search{
    width: 350px;
    height: 30px;

}
.nav_menu2{
    display: flex;
    height: 10vh;
    background-color: rgba(160, 165, 162, 0.432);
    align-items: center;
    margin-top: 7px;
    border: 2px solid black;
}
.tamil ul{
    display: flex;
    height: 7vh;
    gap:80px;
    list-style: none;
    align-items: center;
}
header{
    position:sticky;
    top:0px;
}
section{
    height: 300vh;
    background-color: white;
}
footer{
    height: 8vh; 
    align-items: center;
    background-color: beige;
    border: 2px solid black;
}